::-webkit-input-placeholder {
    text-align: center;
 }
 
 :-moz-placeholder { /* Firefox 18- */
    text-align: center;  
 }
 
 ::-moz-placeholder {  /* Firefox 19+ */
    text-align: center;  
 }
 
 :-ms-input-placeholder {  
    text-align: center; 
 }
body{
    background-image: url("/image/chicago.jpg");
    background-size: cover;
    position: relative;
    font-family: 'Roboto Condensed';
}
body::after{
    content: "";
    position: absolute;
    left: 0; right: 0;
    top: 0; bottom: 0;
    background: rgba(0,0,0,.6);
    z-index: -1;
}
.navbar > a{
    color: #FF8A00;
}
.login-section{
    margin: 50px 20% 0 20%;
    border-radius: 15px;
    background-color: rgba(32, 27, 27, 0.8);
}
input{
    border-radius: 15px;
    background-color: #272727;
    color: white;
    border: #9C9C9C solid 1px;
}
button{
    border-radius: 15px;
    background-color: #FF8A00;
    color: white;
    font-size: 1.2rem;
}