body{
    background-image: url("/image/chicago.jpg");
    background-size: cover;
    position: relative;
    font-family: 'Roboto Condensed';
}
body::after{
    content: "";
    position: absolute;
    left: 0; right: 0;
    top: 0; bottom: 0;
    background: rgba(24, 23, 23, 0.4);
    z-index: -1;
}
.breadcrumb > a{
    color: white;

}
.img-holder{
    width: 200px;
    height: 200px;
}
.img-holder > img{
    max-width:100%;
    max-height:100%;
}